Automatizacion para sistema web GymBodyTraining (1).json
{
  "name": "Automatizacion para sistema web GymBodyTraining",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gym/pago",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1488,
        -48
      ],
      "id": "d16180ac-8605-4f30-94f6-fe8bce4ec286",
      "name": "Webhook",
      "webhookId": "1eecee6f-3d85-4d3f-a8f2-a3dc62c7eff8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b9cc185f-3dc0-4f7d-b0a7-f0501bbd0bac",
              "leftValue": "={{String($json.body.token).trim()}}",
              "rightValue": "123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1312,
        64
      ],
      "id": "60299e79-ab3f-4c15-91cb-71a819fac5cd",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"mensaje_admin\": \"={{$json.mensaje_admin}}\",\n  \"mensaje_cliente\": \"={{$json.mensaje_cliente}}\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -752,
        256
      ],
      "id": "15ed5ed1-b535-4fbc-8bd9-b2c32fe02af1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"token invalido\" }\n",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1168,
        272
      ],
      "id": "c4da2c99-1961-4312-897b-6299318059c5",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "automation_logs",
          "mode": "list",
          "cachedResultName": "automation_logs"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "event_type",
              "value": "pago_confirmado"
            },
            {
              "column": "user_id",
              "value": "={{$json.user_id}}"
            },
            {
              "column": "payment_id",
              "value": "={{$json.payment_id}}"
            },
            {
              "column": "message",
              "value": "={{$json.mensaje_cliente}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -832,
        -304
      ],
      "id": "7270a2c6-37f1-475b-bb16-bfdcc45a342a",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "recordatorios_pago",
          "mode": "list",
          "cachedResultName": "recordatorios_pago"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "user_id",
              "value": "={{$json.body.user_id}}"
            },
            {
              "column": "message",
              "value": "={{$json.mensaje_cliente}}"
            },
            {
              "column": "is_read",
              "value": "0"
            },
            {
              "column": "payment_id",
              "value": "={{$json.body.payment_id}}"
            },
            {
              "column": "tipo_alerta",
              "value": "pago"
            },
            {
              "column": "sent_channel",
              "value": "db"
            },
            {
              "column": "sent_ok",
              "value": "1"
            },
            {
              "column": "sent_at",
              "value": "={{$now}}"
            },
            {
              "column": "error_msg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1088,
        112
      ],
      "id": "3b3deec7-9d8b-403c-b9d4-e77b44922873",
      "name": "Mensaje a perfil cliente",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "52524064-5433-4eb7-ac9f-539797c037ef",
              "name": "mensaje_admin",
              "value": "=✅ Pago confirmado | Cliente: {{$json.body.fullname}} | Monto: Bs. {{$json.body.amount}} | Fecha: {{$json.body.paid_date}} | Método: {{$json.body.method}} | Usuario ID: {{$json.body.user_id}} | Pago ID: {{$json.body.payment_id}}\n\n",
              "type": "string"
            },
            {
              "id": "f3c3f273-352a-4a41-aeda-c71fc046c72d",
              "name": "mensaje_cliente",
              "value": "=🎉 ¡Hola {{$json.body.fullname}}! Tu pago de Bs. {{$json.body.amount}} fue registrado correctamente el {{$json.body.paid_date}} mediante método {{$json.body.method}}. ¡Gracias por confiar en Gym Body Training! 💪 (Ref: Pago #{{$json.body.payment_id}})\n\n",
              "type": "string"
            },
            {
              "id": "af89f527-2a2f-43a5-adc2-6065d0a33473",
              "name": "inbox_tipo",
              "value": "pago",
              "type": "string"
            },
            {
              "id": "ac4076a9-8526-44e5-802d-f7741fc84e15",
              "name": "inbox_titulo",
              "value": "=Pago confirmado - {{ $json.body.fullname }} - Bs. {{ $json.body.amount }}",
              "type": "string"
            },
            {
              "id": "a23d1cbf-661b-433b-8ce0-dfc5f87b4c6a",
              "name": "inbox_mensaje",
              "value": "Pago confirmado",
              "type": "string"
            },
            {
              "id": "7b67127a-e4cc-4319-adef-11237f6426ab",
              "name": "inbox_prioridad",
              "value": "alta",
              "type": "string"
            },
            {
              "id": "ca5f9722-0a5e-4779-940f-7280162e32f1",
              "name": "correo_cliente",
              "value": "={{ $json.body.correo }}",
              "type": "string"
            },
            {
              "id": "450f031f-1518-4d85-8043-ea3ccc52fe01",
              "name": "email_cliente_html",
              "value": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: #f8f9fa; padding: 20px;\">\n  <div style=\"background: linear-gradient(135deg, #4e73df, #1cc88a); padding: 30px 20px; border-radius: 12px 12px 0 0; text-align: center;\">\n    <h1 style=\"color: #ffffff; margin: 0; font-size: 24px;\">🏋️ Gym Body Training</h1>\n    <p style=\"color: rgba(255,255,255,0.9); margin: 8px 0 0;\">¡Bienvenido/a!</p>\n  </div>\n  <div style=\"background: #ffffff; padding: 30px 25px; border-radius: 0 0 12px 12px; border: 1px solid #e3e6f0;\">\n    <h2 style=\"color: #2e3a59; margin-top: 0;\">¡Hola {{ $json.body.fullname }}! 🎉</h2>\n    <p style=\"color: #555; line-height: 1.6;\">\n      Tu pago ha sido registrado correctamente. Aquí tienes el resumen:\n    </p>\n    <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n      <tr>\n        <td style=\"padding: 10px 15px; background-color: #f0f4ff; border: 1px solid #dee2e6; font-weight: bold; color: #4e73df;\">Monto</td>\n        <td style=\"padding: 10px 15px; border: 1px solid #dee2e6;\">Bs. {{ $json.body.amount }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 15px; background-color: #f0f4ff; border: 1px solid #dee2e6; font-weight: bold; color: #4e73df;\">Fecha de pago</td>\n        <td style=\"padding: 10px 15px; border: 1px solid #dee2e6;\">{{ $json.body.paid_date }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 15px; background-color: #f0f4ff; border: 1px solid #dee2e6; font-weight: bold; color: #4e73df;\">Método</td>\n        <td style=\"padding: 10px 15px; border: 1px solid #dee2e6;\">{{ $json.body.method }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 15px; background-color: #f0f4ff; border: 1px solid #dee2e6; font-weight: bold; color: #4e73df;\">Referencia</td>\n        <td style=\"padding: 10px 15px; border: 1px solid #dee2e6;\">Pago #{{ $json.body.payment_id }}</td>\n      </tr>\n    </table>\n    <p style=\"color: #555; line-height: 1.6;\">\n      ¡Gracias por confiar en nosotros! 💪 Te esperamos en el gimnasio.\n    </p>\n    <hr style=\"border: none; border-top: 1px solid #e3e6f0; margin: 25px 0;\">\n    <p style=\"color: #999; font-size: 12px; text-align: center;\">\n      Este es un mensaje automático de Gym Body Training. No responder a este correo.\n    </p>\n  </div>\n</div>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        -112
      ],
      "id": "9f602c0b-32ad-4261-ba57-0eda1368e712",
      "name": "Armar Mensaje"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1488,
        272
      ],
      "id": "91c090ef-ed0a-4672-8c5e-7921b74ae661",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    m.user_id,\n    m.fullname,\n    m.contact,\n    m.username,\n    pl.nombre AS plan_nombre,\n    DATE_FORMAT(\n        DATE_ADD(COALESCE(p.start_date, p.paid_date), INTERVAL pl.duracion_dias DAY),\n        '%d/%m/%Y'\n    ) AS fecha_vencimiento,\n    DATEDIFF(\n        DATE_ADD(COALESCE(p.start_date, p.paid_date), INTERVAL pl.duracion_dias DAY),\n        CURDATE()\n    ) AS dias_restantes\nFROM members m\nINNER JOIN payments p ON p.id = (\n    SELECT p2.id FROM payments p2\n    WHERE p2.user_id = m.user_id \n      AND p2.status = 'pagado' \n      AND p2.plan_id IS NOT NULL\n    ORDER BY p2.id DESC LIMIT 1\n)\nINNER JOIN planes pl ON pl.id = p.plan_id\nHAVING dias_restantes  BETWEEN -9999 AND 5\nORDER BY dias_restantes ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1248,
        464
      ],
      "id": "d2248f9a-0cfd-414f-ab09-bbd7ba0dd1ae",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst hoy = new Date().toLocaleDateString('es-BO', {\n  day: '2-digit', month: '2-digit', year: 'numeric',\n  timeZone: 'America/La_Paz'\n});\n\nif (!items || items.length === 0) {\n  return [{\n    json: {\n      mensaje: \"🏋 <b>REPORTE DE VENCIMIENTOS</b>\\n\" + hoy +\n        \"\\n\\n✅ No hay membresias por vencer ni vencidas hoy.\",\n      inbox_tipo: \"vencimiento\",\n      inbox_titulo: \"Reporte diario de vencimientos - \" + hoy,\n      inbox_mensaje: \"No hay membresias por vencer ni vencidas hoy.\",\n      inbox_prioridad: \"baja\"\n    }\n  }];\n}\n\nconst porVencer = [];\nconst vencidas = [];\nconst inboxLineas = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const dias = Number(d.dias_restantes);\n  const nombre = d.fullname || 'Sin nombre';\n  const plan = d.plan_nombre || 'Sin plan';\n  const fecha = d.fecha_vencimiento || '---';\n  const tel = d.contact || 'Sin contacto';\n\n  if (dias >= 0) {\n    porVencer.push(\"⚠ <b>\" + nombre + \"</b> - \" + plan + \"\\n   Faltan \" + dias + \" dias - Vence: \" + fecha + \"\\n   Tel: \" + tel);\n    inboxLineas.push(\"[POR VENCER] \" + nombre + \" - \" + plan + \" - Faltan \" + dias + \" dias - \" + fecha);\n  } else {\n    vencidas.push(\"🔴 <b>\" + nombre + \"</b> - \" + plan + \"\\n   Vencio hace \" + Math.abs(dias) + \" dias - Fecha: \" + fecha + \"\\n   Tel: \" + tel);\n    inboxLineas.push(\"[VENCIDA] \" + nombre + \" - \" + plan + \" - Vencio hace \" + Math.abs(dias) + \" dias - \" + fecha);\n  }\n}\n\nlet msg = \"🏋 <b>REPORTE DE VENCIMIENTOS</b>\\n\" + hoy + \"\\n\";\n\nif (porVencer.length > 0) {\n  msg = msg + \"\\n⚠ <b>POR VENCER - \" + porVencer.length + \":</b>\\n\\n\";\n  msg = msg + porVencer.join(\"\\n\\n\");\n}\n\nif (vencidas.length > 0) {\n  msg = msg + \"\\n\\n🔴 <b>VENCIDAS - \" + vencidas.length + \":</b>\\n\\n\";\n  msg = msg + vencidas.join(\"\\n\\n\");\n}\n\nmsg = msg + \"\\n\\n📊 Total alertas: \" + items.length;\n\nconst prioridad = vencidas.length > 0 ? \"alta\" : \"media\";\n\nreturn [{\n  json: {\n    mensaje: msg,\n    inbox_tipo: \"vencimiento\",\n    inbox_titulo: \"Reporte de vencimientos - \" + hoy + \" - Por vencer: \" + porVencer.length + \" / Vencidas: \" + vencidas.length,\n    inbox_mensaje: inboxLineas.join(\"\\n\"),\n    inbox_prioridad: prioridad\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        464
      ],
      "id": "d02da706-c80f-48d2-8bdc-e1317b9c211b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "1071534994",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        464
      ],
      "id": "02d139e8-e3d1-4b9a-a95b-03e5afd3a178",
      "name": "Send a text message1",
      "webhookId": "1a51c517-eff7-4423-aa54-adb9b469686f",
      "credentials": {
        "telegramApi": {
          "id": "4vyNGGbQAd2irBMu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "Cron para avisar vencimientos al administrador a las 8:00 pm\n",
        "height": 80,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1776,
        288
      ],
      "typeVersion": 1,
      "id": "c0a22f3b-21ed-4aa1-b2a7-b841c5d5310d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Flujo Automatizado de Confirmación de Pagos con Notificaciones Multicanal",
        "height": 80,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        -16
      ],
      "typeVersion": 1,
      "id": "be198937-4742-4432-ae8e-d1babd2afd30",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fromEmail": "ivang24montes@gmail.com",
        "toEmail": "={{ $json.correo_cliente }}",
        "subject": "🎉 ¡Pago confirmado! - Gym Body Training",
        "html": "={{ $json.email_cliente_html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -608,
        0
      ],
      "id": "3e7de85b-9c0b-470d-ba70-1459fe795330",
      "name": "Envío de correo a cliente",
      "webhookId": "5f02eeef-213b-4c38-a944-3b815932275f",
      "credentials": {
        "smtp": {
          "id": "p7rjW5H8gsWxEIcj",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1071534994",
        "text": "={{$json.mensaje_admin}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -608,
        -192
      ],
      "id": "8ff58faf-40b3-4610-8f60-00ba175b301d",
      "name": "Mensaje a administrador",
      "webhookId": "1a51c517-eff7-4423-aa54-adb9b469686f",
      "credentials": {
        "telegramApi": {
          "id": "4vyNGGbQAd2irBMu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "ivang24montes@gmail.com",
        "toEmail": "ivang24montes@gmail.com",
        "subject": "Pago confirmado - Gym Body Training",
        "html": "={{$json.mensaje_admin}}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -832,
        64
      ],
      "id": "c9e26042-a173-4db4-82a7-3a44ceb4400a",
      "name": "Envio de correo a administrador",
      "webhookId": "15d4db92-fc7e-42f0-bfc4-be7794580e4d",
      "credentials": {
        "smtp": {
          "id": "p7rjW5H8gsWxEIcj",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.210/GymBodyTrainingEST/admin/api/webhook_inbox.php",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tipo",
              "value": "={{ $json.inbox_tipo }}"
            },
            {
              "name": "titulo",
              "value": "={{ $json.inbox_titulo }}"
            },
            {
              "name": "mensaje",
              "value": "={{ $json.inbox_mensaje }}"
            },
            {
              "name": "origen",
              "value": "n8n"
            },
            {
              "name": "prioridad",
              "value": "={{ $json.inbox_prioridad }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -304,
        240
      ],
      "id": "bf1a3f1a-69e3-4a22-8350-f8182d17b6f0",
      "name": "Bandeja de entrada Sistema ADMIN"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1424,
        848
      ],
      "id": "c1e35252-51d6-4d3e-9cbb-92e27a12725d",
      "name": "Cada día 9am"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.user_id, m.fullname, m.correo, m.contact, COUNT(p.id) AS total_pagos, MAX(p.paid_date) AS ultimo_pago, DATEDIFF(CURDATE(), MAX(p.paid_date)) AS dias_sin_pago, CASE WHEN COUNT(p.id) = 1 AND DATEDIFF(CURDATE(), MAX(p.paid_date)) > 25 THEN 90 WHEN COUNT(p.id) = 1 AND DATEDIFF(CURDATE(), MAX(p.paid_date)) > 20 THEN 70 WHEN COUNT(p.id) >= 2 AND DATEDIFF(CURDATE(), MAX(p.paid_date)) > 35 THEN 80 WHEN COUNT(p.id) >= 2 AND DATEDIFF(CURDATE(), MAX(p.paid_date)) > 25 THEN 50 ELSE 10 END AS riesgo FROM members m LEFT JOIN payments p ON p.user_id = m.user_id AND p.status = 'pagado' GROUP BY m.user_id HAVING riesgo >= 50 ORDER BY riesgo DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1184,
        848
      ],
      "id": "6b249e5c-d058-4ac9-834a-c0fca7ef8cc2",
      "name": "Clientes en Riesgo",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items || items.length === 0) {\n  return [{ json: { hay_riesgo: false, telegram: '✅ No hay clientes en riesgo de abandono hoy.', emails: [] } }];\n}\n\nconst criticos = [];\nconst medios = [];\nconst emailsEnviar = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const riesgo = Number(d.riesgo);\n  const nombre = d.fullname || 'Cliente';\n  const dias = Number(d.dias_sin_pago) || 0;\n  const pagos = Number(d.total_pagos) || 0;\n  const tel = d.contact || 'Sin tel';\n  const correo = d.correo || '';\n\n  const linea = `<b>${nombre}</b> — Riesgo: ${riesgo}% | ${dias} días sin pago | ${pagos} pago(s) | Tel: ${tel}`;\n\n  if (riesgo >= 70) {\n    criticos.push(linea);\n    // Preparar email personalizado si tiene correo\n    if (correo && correo.includes('@')) {\n      emailsEnviar.push({\n        correo: correo,\n        nombre: nombre,\n        dias: dias,\n        riesgo: riesgo\n      });\n    }\n  } else {\n    medios.push(linea);\n  }\n}\n\nlet telegram = `🚨 <b>ALERTA DE ABANDONO</b>\\nGym Body Training\\n`;\n\nif (criticos.length > 0) {\n  telegram += `\\n🔴 <b>RIESGO ALTO (${criticos.length}):</b>\\n\\n` + criticos.join('\\n\\n');\n}\n\nif (medios.length > 0) {\n  telegram += `\\n\\n🟡 <b>RIESGO MEDIO (${medios.length}):</b>\\n\\n` + medios.join('\\n\\n');\n}\n\ntelegram += `\\n\\n📊 Total en riesgo: ${items.length} | Críticos: ${criticos.length}`;\n\nreturn [{\n  json: {\n    hay_riesgo: true,\n    telegram: telegram,\n    total_riesgo: items.length,\n    criticos: criticos.length,\n    emails: emailsEnviar,\n    inbox_titulo: `Alerta abandono — ${criticos.length} críticos, ${medios.length} medios`,\n    inbox_msg: `Clientes en riesgo: ${items.length} total. Críticos: ${criticos.length}. Medios: ${medios.length}.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        848
      ],
      "id": "d30ed53e-154b-4c24-8744-b4ff1d7e467b",
      "name": "Clasificar Riesgo"
    },
    {
      "parameters": {
        "chatId": "1071534994",
        "text": "={{ $json.telegram }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -656,
        720
      ],
      "id": "3942b66f-b1ca-4b69-bcf9-0aa34c2c1002",
      "name": "Telegram Alerta",
      "webhookId": "50e9a344-375d-42ea-b649-f78c6d8b1de9",
      "credentials": {
        "telegramApi": {
          "id": "4vyNGGbQAd2irBMu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.210/GymBodyTrainingEST/admin/api/webhook_inbox.php",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tipo",
              "value": "abandono"
            },
            {
              "name": "titulo",
              "value": "={{ $json.inbox_titulo }}"
            },
            {
              "name": "mensaje",
              "value": "={{ $json.inbox_msg }}"
            },
            {
              "name": "origen",
              "value": "n8n"
            },
            {
              "name": "prioridad",
              "value": "alta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -656,
        880
      ],
      "id": "a20853f7-7ebd-49ae-ae88-d0377c994b02",
      "name": "Inbox Alerta"
    },
    {
      "parameters": {
        "jsCode": "const emails = $input.first().json.emails || [];\n\nif (emails.length === 0) {\n  return [];\n}\n\nreturn emails.map(e => {\n  const html = `\n<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;background:#f8f9fa;padding:20px\">\n  <div style=\"background:linear-gradient(135deg,#4e73df,#1cc88a);padding:25px 20px;border-radius:12px 12px 0 0;text-align:center\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px\">🏋️ Gym Body Training</h1>\n    <p style=\"color:rgba(255,255,255,0.9);margin:8px 0 0\">¡Te extrañamos!</p>\n  </div>\n  <div style=\"background:#fff;padding:25px;border-radius:0 0 12px 12px;border:1px solid #e3e6f0\">\n    <h2 style=\"color:#2e3a59;margin-top:0\">¡Hola ${e.nombre}! 👋</h2>\n    <p style=\"color:#555;line-height:1.6\">Notamos que hace <strong>${e.dias} días</strong> no nos visitas. ¡Queremos verte de vuelta!</p>\n    <p style=\"color:#555;line-height:1.6\">Tu salud y bienestar son importantes. El equipo de Gym Body Training te espera con los brazos abiertos. 💪</p>\n    <div style=\"text-align:center;margin:25px 0\">\n      <span style=\"background:#1cc88a;color:#fff;padding:12px 30px;border-radius:25px;font-weight:bold;font-size:16px\">¡Renueva tu membresía hoy!</span>\n    </div>\n    <p style=\"color:#999;font-size:12px;text-align:center\">Si ya renovaste, ignora este mensaje.</p>\n  </div>\n</div>`;\n\n  return { json: { correo: e.correo, nombre: e.nombre, html: html } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        1040
      ],
      "id": "052e5ad5-2c33-47c7-b6a2-b759c1b95167",
      "name": "Preparar Emails Cliente"
    },
    {
      "parameters": {
        "fromEmail": "ivang24montes@gmail.com",
        "toEmail": "={{ $json.correo }}",
        "subject": "💪 ¡Te extrañamos en Gym Body Training!",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -416,
        1040
      ],
      "id": "bc6cb18f-cc3a-4fe3-bc1c-a0a517c55511",
      "name": "Email Reactivación",
      "webhookId": "5a1b45fd-5a81-479c-a11b-f1638ea5dd5e",
      "credentials": {
        "smtp": {
          "id": "p7rjW5H8gsWxEIcj",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO automation_logs (event_type, user_id, message) VALUES ('alerta_abandono', 0, '{{ $json.inbox_msg }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -416,
        880
      ],
      "id": "345ee504-c086-4332-80cf-c1970e10e040",
      "name": "Log en BD",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "DETECCIÓN DE ABANDONO DIARIO\nSe ejecuta cada día a las 9:00am\n- Detecta clientes en riesgo (score 50-100)\n- Alerta al admin por Telegram + Inbox\n- Envía email de reactivación a clientes críticos (riesgo ≥70)",
        "height": 228,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        784
      ],
      "typeVersion": 1,
      "id": "10d56ffd-f719-46e9-8d98-98c2b7f0c733",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        16
      ],
      "id": "e0ff9d9c-8eb7-4a83-9f48-c8dea4a947ab",
      "name": "Cada Lunes 8am"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(SUM(amount), 0) AS ingresos_semana FROM payments WHERE status = 'pagado' AND paid_date >= DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        224,
        -256
      ],
      "id": "deb289c3-10a9-4c73-9e36-0ea8ee534cb1",
      "name": "Ingresos Semana Actual",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(SUM(amount), 0) AS ingresos_anterior FROM payments WHERE status = 'pagado' AND paid_date >= DATE_SUB(CURDATE(), INTERVAL (WEEKDAY(CURDATE()) + 7) DAY) AND paid_date < DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        224,
        -96
      ],
      "id": "df5b09dd-64ea-49ab-8ab4-5af42d7418c3",
      "name": "Ingresos Semana Anterior",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS nuevos FROM members WHERE dor >= DATE_SUB(CURDATE(), INTERVAL WEEKDAY(CURDATE()) DAY);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        224,
        64
      ],
      "id": "0879f857-aedf-4d74-b405-6b17ff93ff3e",
      "name": "Clientes Nuevos",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS activas FROM members m INNER JOIN payments p ON p.id = (SELECT p2.id FROM payments p2 WHERE p2.user_id = m.user_id AND p2.status = 'pagado' AND p2.plan_id IS NOT NULL ORDER BY p2.id DESC LIMIT 1) INNER JOIN planes pl ON pl.id = p.plan_id WHERE DATE_ADD(COALESCE(p.start_date, p.paid_date), INTERVAL pl.duracion_dias DAY) >= CURDATE();",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        224,
        224
      ],
      "id": "a9b1242c-bd6d-494f-b82f-b44037c7a3df",
      "name": "Membresías Activas",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS por_vencer FROM members m INNER JOIN payments p ON p.id = (SELECT p2.id FROM payments p2 WHERE p2.user_id = m.user_id AND p2.status = 'pagado' AND p2.plan_id IS NOT NULL ORDER BY p2.id DESC LIMIT 1) INNER JOIN planes pl ON pl.id = p.plan_id WHERE DATEDIFF(DATE_ADD(COALESCE(p.start_date, p.paid_date), INTERVAL pl.duracion_dias DAY), CURDATE()) BETWEEN 0 AND 7;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        224,
        384
      ],
      "id": "6b4363cc-843d-417a-b89d-504356b6c993",
      "name": "Por Vencer 7 Días",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT pl.nombre, COUNT(*) AS ventas FROM payments p INNER JOIN planes pl ON pl.id = p.plan_id WHERE p.status = 'pagado' AND p.paid_date >= DATE_FORMAT(CURDATE(), '%Y-%m-01') GROUP BY p.plan_id ORDER BY ventas DESC LIMIT 3;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        224,
        544
      ],
      "id": "5441d92b-3013-4a57-aaa5-442c583d6d05",
      "name": "Top Planes Mes",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        496,
        -176
      ],
      "id": "b78511ee-485c-43f6-a611-4bf90b6afba3",
      "name": "Merge 1-2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        496,
        144
      ],
      "id": "6b81e205-514d-485a-8fbb-281d11827dca",
      "name": "Merge 3-4"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        496,
        464
      ],
      "id": "24019b16-e1d1-4f07-9868-3937a03917f2",
      "name": "Merge 5-6"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        736,
        -16
      ],
      "id": "5af7a4d7-ee2d-4e70-aadc-4d227a430dd6",
      "name": "Merge A-B"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        992,
        144
      ],
      "id": "71ad0620-88ba-4e2a-86ba-419afbd9ed14",
      "name": "Merge Final"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst actual   = Number(d.ingresos_semana) || 0;\nconst anterior = Number(d.ingresos_anterior) || 0;\nconst nuevos   = Number(d.nuevos) || 0;\nconst activas  = Number(d.activas) || 0;\nconst porVencer= Number(d.por_vencer) || 0;\n\n// Variación porcentual\nlet variacion = '';\nif (anterior > 0) {\n  const pct = (((actual - anterior) / anterior) * 100).toFixed(1);\n  variacion = Number(pct) >= 0 ? `(+${pct}% vs semana anterior)` : `(${pct}% vs semana anterior)`;\n} else {\n  variacion = '(sin datos semana anterior)';\n}\n\n// Top planes\nconst nombre1 = d.nombre || 'N/A';\nconst ventas1 = d.ventas || 0;\n\n// Fecha rango\nconst hoy = new Date();\nconst lunes = new Date(hoy);\nlunes.setDate(hoy.getDate() - hoy.getDay() + 1);\nconst fmt = (dt) => dt.toLocaleDateString('es-BO', { day:'2-digit', month:'2-digit', year:'numeric', timeZone:'America/La_Paz' });\n\n// Telegram (HTML)\nconst telegram = `📊 <b>REPORTE SEMANAL</b>\\nGym Body Training\\nSemana del ${fmt(lunes)} al ${fmt(hoy)}\\n\\n💰 <b>Ingresos:</b> Bs. ${actual.toFixed(2)} ${variacion}\\n👥 <b>Clientes nuevos:</b> ${nuevos}\\n🏋️ <b>Membresías activas:</b> ${activas}\\n⚠️ <b>Por vencer (7 días):</b> ${porVencer}\\n\\n📈 <b>Plan más vendido del mes:</b>\\n   ${nombre1} — ${ventas1} ventas\\n\\n🔗 Dashboard: http://localhost:3000`;\n\n// Email (HTML rico)\nconst email = `\n<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;background:#f8f9fa;padding:20px\">\n  <div style=\"background:linear-gradient(135deg,#4e73df,#1cc88a);padding:25px 20px;border-radius:12px 12px 0 0;text-align:center\">\n    <h1 style=\"color:#fff;margin:0;font-size:22px\">📊 Reporte Semanal</h1>\n    <p style=\"color:rgba(255,255,255,0.9);margin:8px 0 0\">Gym Body Training — ${fmt(lunes)} al ${fmt(hoy)}</p>\n  </div>\n  <div style=\"background:#fff;padding:25px;border-radius:0 0 12px 12px;border:1px solid #e3e6f0\">\n    <table style=\"width:100%;border-collapse:collapse;margin:15px 0\">\n      <tr><td style=\"padding:12px 15px;background:#f0f4ff;border:1px solid #dee2e6;font-weight:bold;color:#4e73df\">💰 Ingresos</td><td style=\"padding:12px 15px;border:1px solid #dee2e6;font-size:18px;font-weight:bold\">Bs. ${actual.toFixed(2)}</td></tr>\n      <tr><td style=\"padding:12px 15px;background:#f0f4ff;border:1px solid #dee2e6;font-weight:bold;color:#4e73df\">📈 Variación</td><td style=\"padding:12px 15px;border:1px solid #dee2e6\">${variacion}</td></tr>\n      <tr><td style=\"padding:12px 15px;background:#f0f4ff;border:1px solid #dee2e6;font-weight:bold;color:#4e73df\">👥 Clientes nuevos</td><td style=\"padding:12px 15px;border:1px solid #dee2e6\">${nuevos}</td></tr>\n      <tr><td style=\"padding:12px 15px;background:#f0f4ff;border:1px solid #dee2e6;font-weight:bold;color:#4e73df\">🏋️ Membresías activas</td><td style=\"padding:12px 15px;border:1px solid #dee2e6\">${activas}</td></tr>\n      <tr><td style=\"padding:12px 15px;background:#f0f4ff;border:1px solid #dee2e6;font-weight:bold;color:#4e73df\">⚠️ Por vencer</td><td style=\"padding:12px 15px;border:1px solid #dee2e6\">${porVencer}</td></tr>\n      <tr><td style=\"padding:12px 15px;background:#f0f4ff;border:1px solid #dee2e6;font-weight:bold;color:#4e73df\">🏆 Plan top del mes</td><td style=\"padding:12px 15px;border:1px solid #dee2e6\">${nombre1} (${ventas1} ventas)</td></tr>\n    </table>\n    <p style=\"text-align:center;margin:20px 0 5px\"><a href=\"http://localhost:3000\" style=\"background:#4e73df;color:#fff;padding:10px 25px;border-radius:25px;text-decoration:none;font-weight:bold\">🔗 Ver Dashboard Completo</a></p>\n    <hr style=\"border:none;border-top:1px solid #e3e6f0;margin:20px 0\">\n    <p style=\"color:#999;font-size:12px;text-align:center\">Reporte automático — Gym Body Training</p>\n  </div>\n</div>`;\n\n// Inbox\nconst inbox_msg = `Ingresos: Bs.${actual.toFixed(2)} ${variacion} | Nuevos: ${nuevos} | Activas: ${activas} | Por vencer: ${porVencer}`;\n\nreturn [{ json: { telegram, email, inbox_msg, inbox_titulo: `Reporte semanal — ${fmt(lunes)} al ${fmt(hoy)}` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        144
      ],
      "id": "5eb6a686-e157-44f9-8c57-f97a2a3fadaf",
      "name": "Armar Reporte"
    },
    {
      "parameters": {
        "chatId": "1071534994",
        "text": "={{ $json.telegram }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        16
      ],
      "id": "a5b96141-fba4-46ef-852c-834685441c9e",
      "name": "Telegram Reporte",
      "webhookId": "1221b6b0-35ae-42a6-8988-a9ffe7108f31",
      "credentials": {
        "telegramApi": {
          "id": "4vyNGGbQAd2irBMu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "ivang24montes@gmail.com",
        "toEmail": "ivang24montes@gmail.com",
        "subject": "📊 Reporte Semanal - Gym Body Training",
        "html": "={{ $json.email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1488,
        176
      ],
      "id": "5bb8e3c4-1049-4464-8483-92276f4eb696",
      "name": "Email Reporte",
      "webhookId": "3dcf6e61-b44e-4e0a-9b05-ee98d953d145",
      "credentials": {
        "smtp": {
          "id": "p7rjW5H8gsWxEIcj",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.210/GymBodyTrainingEST/admin/api/webhook_inbox.php",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tipo",
              "value": "reporte"
            },
            {
              "name": "titulo",
              "value": "={{ $json.inbox_titulo }}"
            },
            {
              "name": "mensaje",
              "value": "={{ $json.inbox_msg }}"
            },
            {
              "name": "origen",
              "value": "n8n"
            },
            {
              "name": "prioridad",
              "value": "media"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        336
      ],
      "id": "e8fe06d6-961f-464a-aa5d-439ad3d85cea",
      "name": "Inbox Reporte"
    },
    {
      "parameters": {
        "content": "REPORTE SEMANAL AUTOMÁTICO\nSe ejecuta cada lunes a las 8:00am\nEnvía resumen por Telegram + Email + Inbox",
        "height": 128,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        32
      ],
      "typeVersion": 1,
      "id": "81772aef-b2aa-4199-b7dc-534f9c40ee23",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        848
      ],
      "id": "855b2bef-199e-43c4-a299-b263199b9477",
      "name": "Cada Lunes 8:30am"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.user_id, m.fullname, m.correo, m.contact, COUNT(p.id) AS total_pagos, DATEDIFF(CURDATE(), MAX(p.paid_date)) AS dias_sin_pago, CASE WHEN COUNT(p.id) >= 4 AND DATEDIFF(CURDATE(), MAX(p.paid_date)) <= 35 THEN 'VIP' WHEN COUNT(p.id) BETWEEN 2 AND 3 AND DATEDIFF(CURDATE(), MAX(p.paid_date)) <= 40 THEN 'Regular' WHEN COUNT(p.id) = 1 AND DATEDIFF(CURDATE(), MAX(p.paid_date)) <= 35 THEN 'Nuevo' WHEN DATEDIFF(CURDATE(), MAX(p.paid_date)) BETWEEN 36 AND 90 THEN 'Dormido' WHEN DATEDIFF(CURDATE(), MAX(p.paid_date)) > 90 THEN 'Perdido' WHEN MAX(p.paid_date) IS NULL THEN 'Sin_pagos' ELSE 'Regular' END AS segmento FROM members m LEFT JOIN payments p ON p.user_id = m.user_id AND p.status = 'pagado' GROUP BY m.user_id ORDER BY segmento;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        400,
        848
      ],
      "id": "de2c8698-6f4b-48f8-81bf-e47c38cbf4cb",
      "name": "Segmentar Clientes",
      "credentials": {
        "mySql": {
          "id": "JUhyHG5OBfLUlq5b",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst conteo = { VIP: 0, Regular: 0, Nuevo: 0, Dormido: 0, Perdido: 0, Sin_pagos: 0 };\nconst detalle = { VIP: [], Regular: [], Nuevo: [], Dormido: [], Perdido: [], Sin_pagos: [] };\n\nfor (const item of items) {\n  const d = item.json;\n  const seg = d.segmento || 'Regular';\n  conteo[seg] = (conteo[seg] || 0) + 1;\n  if (detalle[seg]) {\n    detalle[seg].push(d.fullname);\n  }\n}\n\nconst total = items.length;\nconst iconos = { VIP: '🌟', Regular: '💪', Nuevo: '🆕', Dormido: '😴', Perdido: '👻', Sin_pagos: '❓' };\nconst acciones = {\n  VIP: 'Premiar lealtad, pedir referidos',\n  Regular: 'Mantener comunicación',\n  Nuevo: 'Seguimiento a los 15 días',\n  Dormido: 'Campaña de reactivación',\n  Perdido: 'Oferta agresiva de regreso',\n  Sin_pagos: 'Contactar para primer pago'\n};\n\nconst hoy = new Date().toLocaleDateString('es-BO', { day:'2-digit', month:'2-digit', year:'numeric', timeZone:'America/La_Paz' });\n\n// Telegram\nlet tg = `📋 <b>SEGMENTACIÓN DE CLIENTES</b>\\n${hoy}\\n\\n`;\nfor (const seg of ['VIP', 'Regular', 'Nuevo', 'Dormido', 'Perdido', 'Sin_pagos']) {\n  if (conteo[seg] > 0) {\n    const pct = ((conteo[seg] / total) * 100).toFixed(0);\n    tg += `${iconos[seg]} <b>${seg}:</b> ${conteo[seg]} (${pct}%)\\n`;\n    tg += `   → ${acciones[seg]}\\n\\n`;\n  }\n}\ntg += `👥 Total clientes: ${total}`;\n\n// Inbox\nconst inbox_parts = [];\nfor (const seg of ['VIP','Regular','Nuevo','Dormido','Perdido','Sin_pagos']) {\n  if (conteo[seg] > 0) inbox_parts.push(`${seg}: ${conteo[seg]}`);\n}\n\nreturn [{\n  json: {\n    telegram: tg,\n    conteo: conteo,\n    total: total,\n    inbox_titulo: `Segmentación semanal — ${hoy}`,\n    inbox_msg: inbox_parts.join(' | '),\n    dormidos: detalle.Dormido || [],\n    perdidos: detalle.Perdido || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        848
      ],
      "id": "52b126e8-c780-4425-95fa-153f7637ffd0",
      "name": "Armar Segmentación"
    },
    {
      "parameters": {
        "chatId": "1071534994",
        "text": "={{ $json.telegram }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        736
      ],
      "id": "7007f31a-9079-4700-9eb6-0192c0e415ae",
      "name": "Telegram Segmentación",
      "webhookId": "68b22f5a-0e74-4b6d-8f84-80027d9b0756",
      "credentials": {
        "telegramApi": {
          "id": "4vyNGGbQAd2irBMu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.210/GymBodyTrainingEST/admin/api/webhook_inbox.php",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tipo",
              "value": "segmentacion"
            },
            {
              "name": "titulo",
              "value": "={{ $json.inbox_titulo }}"
            },
            {
              "name": "mensaje",
              "value": "={{ $json.inbox_msg }}"
            },
            {
              "name": "origen",
              "value": "n8n"
            },
            {
              "name": "prioridad",
              "value": "media"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        944
      ],
      "id": "07cdad9d-9310-4bd5-90b8-97287581ad96",
      "name": "Inbox Segmentación"
    },
    {
      "parameters": {
        "content": "SEGMENTACIÓN SEMANAL\nSe ejecuta cada lunes a las 8:30am (después del reporte)\nClasifica: VIP, Regular, Nuevo, Dormido, Perdido\nEnvía resumen por Telegram + Inbox",
        "height": 144,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        832
      ],
      "typeVersion": 1,
      "id": "c6942c35-6d86-4e23-85a4-5440f4e2ec10",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Armar Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Mensaje a perfil cliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Mensaje": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mensaje a perfil cliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mensaje a administrador",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envio de correo a administrador",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bandeja de entrada Sistema ADMIN",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envío de correo a cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bandeja de entrada Sistema ADMIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "Mensaje a administrador": {
      "main": [
        []
      ]
    },
    "Cada día 9am": {
      "main": [
        [
          {
            "node": "Clientes en Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clientes en Riesgo": {
      "main": [
        [
          {
            "node": "Clasificar Riesgo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificar Riesgo": {
      "main": [
        [
          {
            "node": "Telegram Alerta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inbox Alerta",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Emails Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbox Alerta": {
      "main": [
        [
          {
            "node": "Log en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Emails Cliente": {
      "main": [
        [
          {
            "node": "Email Reactivación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada Lunes 8am": {
      "main": [
        [
          {
            "node": "Ingresos Semana Actual",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ingresos Semana Anterior",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clientes Nuevos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Membresías Activas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Por Vencer 7 Días",
            "type": "main",
            "index": 0
          },
          {
            "node": "Top Planes Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingresos Semana Actual": {
      "main": [
        [
          {
            "node": "Merge 1-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingresos Semana Anterior": {
      "main": [
        [
          {
            "node": "Merge 1-2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Clientes Nuevos": {
      "main": [
        [
          {
            "node": "Merge 3-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membresías Activas": {
      "main": [
        [
          {
            "node": "Merge 3-4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Por Vencer 7 Días": {
      "main": [
        [
          {
            "node": "Merge 5-6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Planes Mes": {
      "main": [
        [
          {
            "node": "Merge 5-6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge 1-2": {
      "main": [
        [
          {
            "node": "Merge A-B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 3-4": {
      "main": [
        [
          {
            "node": "Merge A-B",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge A-B": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge 5-6": {
      "main": [
        [
          {
            "node": "Merge Final",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Final": {
      "main": [
        [
          {
            "node": "Armar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Reporte": {
      "main": [
        [
          {
            "node": "Telegram Reporte",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Reporte",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inbox Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada Lunes 8:30am": {
      "main": [
        [
          {
            "node": "Segmentar Clientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segmentar Clientes": {
      "main": [
        [
          {
            "node": "Armar Segmentación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Segmentación": {
      "main": [
        [
          {
            "node": "Telegram Segmentación",
            "type": "main",
            "index": 0
          },
          {
            "node": "Inbox Segmentación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8414a129-b9e0-4d88-bb5a-e7b61d70a2ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "db1a482e1bb0208bd302491bddbf226c5825c9b1e3de1294ee84cc65d0589a71"
  },
  "id": "BT5RA_OFYLi-TQiZpbWeD",
  "tags": [
    {
      "updatedAt": "2026-03-02T21:20:55.448Z",
      "createdAt": "2026-03-02T21:20:55.448Z",
      "id": "1hXlHiEV5TtFQW6G",
      "name": "gym-body-training"
    },
    {
      "updatedAt": "2026-03-02T20:22:15.770Z",
      "createdAt": "2026-03-02T20:22:15.770Z",
      "id": "23UkqIBpYTG05EFd",
      "name": "chatbot"
    },
    {
      "updatedAt": "2026-03-02T20:14:07.084Z",
      "createdAt": "2026-03-02T20:14:07.084Z",
      "id": "L83bERG3X08oVDSH",
      "name": "automatización"
    },
    {
      "updatedAt": "2026-03-02T20:14:07.081Z",
      "createdAt": "2026-03-02T20:14:07.081Z",
      "id": "XymB4Mq9UqAqh3tO",
      "name": "open-source"
    },
    {
      "updatedAt": "2026-03-02T20:14:07.088Z",
      "createdAt": "2026-03-02T20:14:07.088Z",
      "id": "qKxjEphN3Unje0mM",
      "name": "gimnasio"
    }
  ]
}